<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cloud9 Stay</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    {% include "css.html" %}
  
  </head>
  <body class="index-page">
    <header id="header" class="header fixed-top">
    {% include "topbar.html" %}
    {% include "navbar.html" %}
    </header>

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}
    {% include "scripts.html" %}
  </body>
</html>
