{% extends "base.html"%}
{% load static %}

{% block title %}
  Cloud9
{% endblock %}

{% block content%}
<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <img src="{% static "img/home-bg-2.png" %}" alt="" data-aos="fade-in">

    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start my-auto">
          <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span>Cloud 9 <i class="fa-solid fa-cloud-sun-rain fa-sm"></i></span></h2>
          <p data-aos="fade-up" data-aos-delay="200">Your tranquil Oasis in Murbad!</p>
          <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="#amenities" class="cta-btn">View Amenities</a>
            <a href="#gallery" class="cta-btn">View Gallery</a>
          </div>
          <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a class="btn-book-a-table d-xl-none" target="_blank" href="https://wa.me/919702024139"><i class="fa-brands fa-whatsapp fa-lg"></i>&nbsp;Whatsapp US</a>
          </div>
        </div>
        <div id="hero-card" class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0 d-none d-xl-block">
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
              <div class="testimonial-item">
                <div style="margin-left: 120px; padding: 20px 20px 20px 20px;  background-color: color-mix(in srgb, var(--background-color) 70%, transparent 50%);font-style: italic;border-radius: 6px;z-index: 1;">
                  <i class=" bi bi-quote quote-icon-left"></i>
                    <span>Nestled in the heart of Murbad's breathtaking landscape, Cloud9 is just a short drive from Mumbai, Kalyan, and Thane. Our retreat offers the perfect blend of comfort, adventure, and natural beauty making it the perfect escape from the hustle and bustle of the city life!</span>
                    <br><br>
                    <span>Imagine waking up to nature's symphony, surrounded by lush greenery. Our 8-bedroom haven offers modern comfort & tranquillity, perfect for family vacations, fun-filled getaways with friends, or team-building corporate retreats seeking a rejuvenating escape!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </div>
              </div>
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static "img/about_new.jpg" %}" class="img-fluid about-img" alt="">
        </div>
        <div class="col-lg-6 order-2 order-lg-1 content">
          <h3>Your Ideal Getaway</h3>
          <p class="fst-italic">
            Wake up to nature's tranquility, unwind in our inviting atmosphere, reconnect with loved ones and yourself. 
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span> <strong>Splash and Play: </strong>Take a refreshing dip in our 5-feet swimming pool, or groove to the rhythm in our rain dance setup!</span></li>

            <li><i class="bi bi-check2-all"></i> <span> <strong>Sunset Serenity: </strong> Ascend to our top terrace or view area to witness awe-inspiring sunsets that paint the valleys in hues of gold and orange.</span></li>

            <li><i class="bi bi-check2-all"></i> <span><strong>Embrace Nature: </strong>Stroll through our sprawling gardens, where every corner reveals a new vista of vibrant flora and serene landscapes. If you’re lucky, you might even get a chance to pick fresh fruit and savour its flavour!</span></li>

            <li><i class="bi bi-check2-all"></i> <span><strong>A Monsoon Paradise:</strong> Experience the magic of the season as you sip tea, surrounded by mist-kissed hills and the soothing sound of raindrops.</span></li>
          </ul>
          <br>
          <p style="font-style: italic;">
            Come find your Cloud9 in Murbad. We can't wait to welcome you!
          </p>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Why Us Section -->
  <section id="amenities" class="why-us section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Facilities</h2>
      <p>Amenities to Entertain!</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <span>01</span>
            <h4>Poolside Bliss</h4>
            <p class="fst-italic">Refreshing dips and sun-soaked fun!</p><br>
            <img src="{% static "img/amenities/amenities-1.jpg" %}" class="img-fluid" alt="">
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <span>02</span>
            <h4>Rain Dance Party</h4>
            <p class="fst-italic">Let loose under the cool spray!</p><br>
            <img src="{% static "img/amenities/amenities-2.jpg" %}" class="img-fluid" alt="">
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>03</span>
            <h4>Garden Delights</h4>
            <p class="fst-italic">Lush greenery,fresh papayas (when in season)</p><br>
            <img src="{% static "img/amenities/amenities-3.jpg" %}" class="img-fluid" alt="">
          </div>
        </div><!-- Card Item -->
      </div>        
      <br>
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <span>04</span>
            <h4>Skyline Terrace</h4>
            <p class="fst-italic">Breathtaking valley views & stunning sunsets!</p><br>
            <img src="{% static "img/amenities/amenities-4.jpg" %}" class="img-fluid" alt="">
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <span>05</span>
            <h4>Karaoke Nights</h4>
            <p class="fst-italic">Sing your heart out, become a superstar with our karaoke setup!</p>
          </div>
        </div><!-- Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>06</span>
            <h4>Game On</h4>         
            <p class="fst-italic">Fun Indoor & outdoor games for all ages!</p><br>
            <img src="{% static "img/amenities/amenities-6.jpg" %}" class="img-fluid" alt="">
          </div>
        </div><!-- Card Item -->
      </div>
    </div>

  </section><!-- /Why Us Section -->

  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery</h2>
      <p>Some photos from Our Property</p>
    </div><!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-1.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-1.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-2.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-2.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-3.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-3.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-4.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-4.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-5.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-5.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-6.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-6.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-7.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-7.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static "img/gallery/gallery-8.jpg" %}" class="glightbox" data-gallery="images-gallery">
              <img src="{% static "img/gallery/gallery-8.jpg" %}" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

      </div>

    </div>

  </section><!-- /Gallery Section -->

  <!-- Specials Section -->
  <section id="specials" class="specials section">

    <div class="container section-title" data-aos="fade-up">
      <h2>Sightseeing</h2>
      <p>Check out Attractions near Murbad</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">Take a trip to Barvi Dam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Experience Nature at Malshej Ghat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Explore Kondana Caves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">Tour the Magnificient Shivneri Fort</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">Trek at Naneghat</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="specials-tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Take a trip to Barvi Dam</h3>
                  <p class="fst-italic">Nestled amidst the lush greenery of the Western Ghats, Barvi Dam is a serene spot perfect for picnics and nature walks.</p>
                  <p>The dam, a major water source for Thane and Navi Mumbai, offers breathtaking views, especially during the monsoon when the surrounding landscape comes alive with cascading waterfalls and vibrant flora. Visitors can do bird-watching near the tranquil waters or simply relax by the banks, making it an ideal getaway for families and nature enthusiasts.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static "img/attractions/Barvi_Dam.jpg" %}" style="border-radius: 5px;" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="specials-tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Experience Nature at Malshej Ghat</h3>
                  <p class="fst-italic">Malshej Ghat is a stunning mountain pass in the Western Ghats, renowned for its picturesque vistas, misty mountains, and rich biodiversity.</p>
                  <p>A paradise for trekkers, bird watchers, and photographers, Malshej Ghat is especially famous for its waterfalls and the pink flamingos that visit during the monsoon. The ghat offers numerous hiking trails and lookout points, providing panoramic views of the surrounding valleys and cliffs, making it a must-visit for nature lovers and adventure seekers.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static "img/attractions/malshej_ghat.jpg" %}" style="border-radius: 5px;" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="specials-tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Explore Kondana Caves</h3>
                  <p class="fst-italic">Shivneri Fort, the birthplace of the legendary Maratha warrior King Shivaji, is a historical marvel perched atop a hill.</p>
                  <p>The fort offers a glimpse into the rich history and architectural brilliance of the Maratha era, with well-preserved structures such as temples, water systems, and a museum. A trek to Shivneri Fort not only provides an enriching historical experience but also rewards visitors with stunning views of the surrounding countryside, making it a significant attraction for history buffs and trekkers alike.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static "img/attractions/Kondana_Caves.jpg" %}" alt="" style="border-radius: 5px;" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="specials-tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Tour the Magnificient Shivneri Fort</h3>
                  <p class="fst-italic">The ancient Kondana or Konkana Caves, located near Murbad, are a group of rock-cut Buddhist caves that date back to the 1st century BCE.</p>
                  <p>These caves, carved into a cliff face, feature intricate sculptures, stupas, and viharas, showcasing the exquisite craftsmanship of the period. A visit to Konkana Caves offers a serene and educational experience, transporting visitors back in time to explore the spiritual and artistic heritage of ancient India, making it a must-see for history enthusiasts and cultural explorers.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static "img/attractions/shivneri_fort.jpg" %}" style="border-radius: 5px;" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="specials-tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Trek at Naneghat</h3>
                  <p class="fst-italic">Naneghat Trek is a popular hiking trail that takes adventurers through the scenic landscapes of the Western Ghats to an ancient mountain pass.</p>
                  <p>The trek, suitable for beginners and experienced hikers alike, offers breathtaking views of lush valleys, dense forests, and majestic peaks. At the summit, trekkers can explore ancient rock-cut inscriptions and caves, remnants of the region's rich history. The trail is particularly enchanting during the monsoon season, with cascading waterfalls and verdant greenery, providing a perfect blend of nature and history</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static "img/attractions/naneghat_trek.jpg" %}" style="border-radius: 5px;" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- Testimonials Section -->
  <section id="reviews" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Reviews</h2>
      <p>What they're saying about us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 3,
                "spaceBetween": 20
              }
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item" "="">
          <p>
            <i class=" bi bi-quote quote-icon-left"></i>
              <span>My friends and I had a wonderful reunion at Cloud9! The serenity of the place is absolutely magical and the swimming pool & rain dance set-up are really fun! They also have good arrangement for party lights on the terrace and in the rooms.</span>
              <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static "img/testimonials/person_icon.png" %}" class="testimonial-img" alt="">
              <h3>Vartika</h3>
              <h4>Pune</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Cloud9 was the perfect escape from the city! The views from the terrace were breathtaking, especially during sunset. The pool and rain dance were a huge hit with the kids. We loved waking up to the sounds of nature. Can't wait to return!</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static "img/testimonials/person_icon.png" %}" class="testimonial-img" alt="">
              <h3>Bandana Kumari</h3>
              <h4>Mumbai</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>This was our second stay at Cloud9, and it was just as wonderful as the first. The rooms are spacious,  comfortable and well maintained. The vibe there is very relaxing. This time we tried the karaoke and luckily had a backdrop of raindrops to it.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static "img/testimonials/person_icon.png" %}" class="testimonial-img" alt="">
              <h3>Gautam</h3>
              <h4>Kalyan</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Cloud9 made our 25th wedding anniversary truly unforgettable. The decoraions were beautiful, and the catering was absolutely delicious. We couldn't have asked for a better celebration!</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static "img/testimonials/person_icon.png" %}" class="testimonial-img" alt="">
              <h3>Sandhya Shekhar</h3>
              <h4>Navi Mumbai</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Cloud9 is a hidden gem in Murbad. The views from the terrace are simply stunning, and the property is beautifully maintained. It's the perfect place to relax and recharge away from the noisy city life.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static "img/testimonials/person_icon.png" %}" class="testimonial-img" alt="">
              <h3>Biral Kumar</h3>
              <h4>Thane</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Get In Touch</p>
    </div><!-- End Section Title -->

    <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
      <!-- <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.5925331882654!2d73.33091971892907!3d19.248350096016214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be78d007f672963%3A0xc1489ace517e0b79!2sCloud9!5e0!3m2!1sen!2sin!4v1717613506621!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      <iframe style="border:0; width: 100%; height: 400px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d320303.9127037119!2d72.97193551824111!3d19.259999935792067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be78d007f672963%3A0xc1489ace517e0b79!2sCloud9!5e0!3m2!1sen!2sin!4v1717613728894!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div><!-- End Google Maps -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>Villa No.9, Vishwamrut CHS, Murbad, Ghorale, Maharashtra 421401</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+91 9702024139</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>contact@cloud9murbad.com</p>
            </div>
          </div><!-- End Info Item -->
          
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="d-flex mt-2">
              <a href=""><i class="bi bi-youtube"></i></a>
              <a href="https://www.facebook.com/profile.php?id=61559127211440&mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/cloud9murbad/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://maps.app.goo.gl/AoHZSq4GqBFx5S1D7" target="_blank"><i class="bi bi-geo-alt-fill"></i></a>
            </div>
          </div><!-- End Info Item -->         

        </div>

        <div class="col-lg-8">

          <form method="POST" action="/form_submit" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required="" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message" required="" data-rule="required" data-msg="Please write something for us"></textarea>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
              <br>
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>
{% endblock %}
