{% load static %}
<div class="branding d-flex align-items-cente">

  <div class="container position-relative d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="{% static "/img/Cloud9_logo.png" %}" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Home<br></a></li>
        <li><a href="#about">About<br></a></li>
        <li><a href="#amenities">Amenities</a></li>
        <!-- <li><a href="#menu">Menu</a></li> -->
        <li><a href="#specials">Specials</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <!-- <li><a href="#chefs">Chefs</a></li> -->
        <li><a href="#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-book-a-table d-none d-xl-block" target="_blank" href="https://wa.me/919958396993"><i class="fa-brands fa-whatsapp fa-lg"></i>&nbsp;Whatsapp US</a>

  </div>

</div>