{% load static %}
<!-- Scroll Top -->
 <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'vendor/php-email-form/validate.js'%}"></script>
<script src="{% static 'vendor/aos/aos.js'%}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>