<div class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@cloud9murbad.com">contact@cloud9murbad.com</a></i>
    </div>
    <div class="contact-info d-md-flex align-items-center">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+91-7386663213</span></i>
      </div>
    </div>
  </div>
</div>
